---
title: Ontoportal
description: Deploy and use your Ontoportal repository
---

<section class="hero">
	<div class="text-container">
		<h1 class="editable">Ontoportal <strong>your semantic artefact repository</strong></h1>
		<p class="subtext editable">Deploy and use your Ontoportal repository</p>
		<div class="cta button alt"><a href="https://ontoportal.github.io/documentation/administration/steps/getting_started">Get Ontoportal</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/ontoportal_home.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Upload and save your <strong>semantic artefacts</strong></h2>
				<p>Ontoportal makes deploying and running  your own semantic repository easier</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_browser.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Browse the <strong>content</strong> of your semantic resources</h2>
				<p>Ontoportal comes with bunch components for visualizing and browsing yor content</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/content_browse.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2> <strong>Search</strong> for terms</h2>
				<p>All the semantic ressources content hosted in your Ontoportal is indexed and can easily be retrieved</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_search.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center;">
				<h2> And <strong>a lot </strong> more</h2>
			</div>

			<ul class="staff">
				<li>
					<div class="service-circle square-image">Annotator</div>
					<div class="name"></div>
					<div class="position">Annotate your textual biomedical data with ontology terms.</div>
				</li>
				<li>
					<div class="service-circle square-image">Mappings</div>
					<div class="name"></div>
					<div class="position">Explore mappings between ontology terms.</div>
				</li>
				<li>
					<div class="service-circle square-image">Recommender</div>
					<div class="name"></div>
					<div class="position">Get ontology recommendations for annotation based on descriptions of your datasets.</div>
				</li>
				<li>
					<div class="service-circle square-image">Ontology submission</div>
					<div class="name"></div>
					<div class="position">Give the possibility to your community to submit their own resources.</div>
				</li>
				<li>
					<div class="service-circle square-image">Versioning</div>
					<div class="name"></div>
					<div class="position">Save and Archive multiple version of your resources</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex" style="flex-wrap: wrap; overflow-wrap: anywhere">
			<div class="text editable" style=" display: flex; justify-content: center; flex-direction: column; align-items: center;">
				<h2>What Users Say</h2>
			</div>
			<div class="my-slider">
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on OntoPortal too....</p>
						<p class="editable author">John Smith - Stanford University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on OntoPortal too....</p>
						<p class="editable author">John Smith - Stanford University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on OntoPortal too....</p>
						<p class="editable author">John Smith - Stanford University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on OntoPortal too....</p>
						<p class="editable author">John Smith - Stanford University</p>
					</blockquote>
				</div>
			</div>
			<script >
				var slider = tns({
					container: '.my-slider',
					items: 1, // Set the number of items to show at once
					slideBy: 'page', // Slide by page instead of by item
					nav: false, // Hide the default pagination
					autoplay: true,
					speed: 750,
					autoplayButtonOutput: false,
					controlsPosition: 'bottom'
				});
			</script>
		</div>

	</section>

	<section>
		<div class="container flex" style="flex-direction: column; justify-content: center"  >
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center; margin-top: 10px">
				<h2>Be part of a <strong>community</strong></h2>
			</div>

			<ul class="staff">
				{% for portal in site.alliance_members %}
				<li>
					<div style="height: 100px;background-color:{{portal.color}}" class="square-image"><img src="{% include relative-src.html src=portal.logo %}" alt="{{ portal.name }}" style="object-fit: contain;width: 200px; height: 100px"/></div>
					<div class="name"><a target="_blank" href="{{ portal.link }}" style="color: black">{{ portal.name }}</a></div>
					<div class="position">{{ portal.description }}</div>
				</li>
				{% endfor %}
			</ul>

			<div class="button"><a href="{{ site.baseurl }}/about">Get more information and join the alliance</a></div>
		</div>

	</section>

	<section style="display: flex; justify-content: center">
        <iframe title="Ontoportal tweets" style="border:none; margin: 10px; width: 80%; height: 100vh" data-tweet-url="https://twitter.com/ontoportal" src="data:text/html;charset=utf-8,%3Ca%20class%3D%22twitter-timeline%22%20href%3D%22https%3A//twitter.com/ontoportal%3Fref_src%3Dtwsrc%255Etfw%22%3ETweets%20by%20ontoportal%3C/a%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A">
        </iframe>
	</section>

	<section  class="bottom-cta">
		<div class="container flex sponsorsFooter" style="flex-direction: column; justify-content: center"  >
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center; margin-top: 10px">
				<h2><span class="sponsorsFooter-Title">Our</span> <strong>sponsors</strong></h2>
			</div>
			<ul class="flex">
				{% for sponsor in site.sponsors %}
					<li data-group="{{ sponsor.portals }}">
                       <a href="{{sponsor.link}}" target="_blank"><img src="{{ sponsor.logo }}" alt="{{sponsor.acronym}} image"></a>
					</li>
				{% endfor %}
			</ul>
			<script>
				const ul = document.querySelector(".sponsorsFooter ul");
				const title = document.querySelector(".sponsorsFooter .sponsorsFooter-Title");

				ul.querySelectorAll('li').forEach(li => {
					const portals =  li.getAttribute("data-group").toString().trim().split(',')
					li.addEventListener("mouseenter", () => {
						showPortals(ul,portals)
						title.innerHTML = getTitle(portals)
					})

					li.addEventListener("mouseleave", () => {
						title.innerHTML = "Our";
						resetPortals(ul)
					})
				})

				function getTitle(portals){
					const length  = portals.length
					if (length === 1) {
						return portals[0]
					} else if (length === 2) {
						return portals.join(' and ');
					} else {
						const last = portals.slice(-1)
						const rest = portals.slice(0, - 1)
						return rest.join(', ') + ', and ' + last
					}
				}
				function showPortals(container,portals){
					container.querySelectorAll('li').forEach(li => {
						const currentPortals =  li.getAttribute("data-group").toString().trim().split(',')
						if(portals.every(item => currentPortals.includes(item))){
							li.classList.add("hover")
							container.classList.add("enter")
						}
					})
				}
				function resetPortals(container){
					container.classList.remove("enter")
					container.querySelectorAll('li').forEach(li => {
						li.classList.remove("hover")
					})
				}


			</script>
		</div>
	</section>
</div>
