---
title: OntoPortal
description: Ontology Repositories or Semantic Artefact Catalogues with the OntoPortal Technology
---

<section class="hero">
	<div class="text-container">
		<h1 class="editable"><strong>OntoPortal</strong>, a generic technology to build ontology repositories or semantic artefact catalogues</h1>
		<p class="subtext editable">The most advanced and rich technology for ontology services!</p>
		<div class="cta button alt">
			<a href="{{ site.virtual_appliance_url }}">Get your own OntoPortal</a>

		</div>
		<div class="cta button alt">
			<a href="{{ site.demo_url }}">See a demo of OntoPortal</a>
		</div>

		<div>
			<img src="{{ site.baseurl }}/images/ontoportal_home.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
				<p class="subtext editable"> Get a quick sense of what's OntoPortal with <a href="https://hal.science/hal-04088537" target="_blank"> our short presenting paper </a>. Please, use this to reference to our work too.</p>

		<div class="container flex">
			<div class="text editable">
				<h2>Save and find <strong>semantic artefacts</strong></h2>
				<p>The primary mission of an OntoPortal installation is to host and serve ontologies and semantic artefacts. The portals accept resources in multiple knowledge representation languages: OWL, RDFS, SKOS, OBO and UMLS-RRF.</p>
				<p>Ontologies are semantically described with rich metadata (partially extracted from the source files), and a browsing user interface allows to quickly identify, with faceted search, the ontologies of interest based on their metadata.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_browser.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2><strong>Browse the content</strong> of semantic artefacts</h2>
				<p>OntoPortal lets users visualize a class/concept or property within its hierarchy, as well as see related information for this entity (as relations included in the source file). </p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/content_browse.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2> <strong>Search</strong> for terms</h2>
				<p>All the semantic artefacts content hosted in an OntoPortal is indexed and can easily be retrieved.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_search.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center;">
				<h2> Much more available as <strong>standard OntoPortal services...</strong></h2>
			</div>

			<ul class="staff">
				<li>
					<div class="service-circle square-image">Custom hosting</div>
					<div class="name"></div>
					<div class="position">Organize public/private ontologies, group/categorize them and offers custom slices.</div>
				</li>
				<li>
					<div class="service-circle square-image">Versioning</div>
					<div class="name"></div>
					<div class="position">Store all ontology versions, whether manually submitted or automatically pulled. Get diff betweem versions.</div>
				</li>
				<li>
					<div class="service-circle square-image">Widgets</div>
					<div class="name"></div>
					<div class="position">Easily embed Web widgets in external web applications to facilitate the reuse/visualization of ontology entities.</div>
				</li>
				<li>
					<div class="service-circle square-image">Mappings</div>
					<div class="name"></div>
					<div class="position">Store, retrieve and explore mappings between ontology terms. Get lexical overlap of an ontology with all the other ones in a portal.</div>
				</li>
				<li>
					<div class="service-circle square-image">Community</div>
					<div class="name"></div>
					<div class="position">Get notified from feedback as notes, change requests and record projects using ontologies.</div>
				</li>
				<li>
					<div class="service-circle square-image">Annotator</div>
					<div class="name"></div>
					<div class="position">Identify semantic artefact classes or concepts inside any raw text.</div>
				</li>
				<li>
					<div class="service-circle square-image">Recommender</div>
					<div class="name"></div>
					<div class="position">Get ontology recommendations for a provided text or keyword list.</div>
				</li>
				<li>
					<div class="service-circle square-image">Automated access</div>
					<div class="name"></div>
					<div class="position">Access all content and services with two different endpoints: a REST web service API that returns JSON-LD and a SPARQL endpoint.</div>
				</li>
			</ul>
		</div>
	</section>

<section>
		<div class="container">
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center;">
				<h2> And even more <strong>additional features and services</strong> developed by the Alliance...</h2>
			</div>

			<ul class="staff">
				<li>
					<div class="service-circle square-image">Enhanced mapping features</div>
					<div class="name"></div>
					<div class="position">More flexible mapping storage, import mappings in bulk or extract SKOS mappings explicitly defined in semantic artefact source files.</div>
				</li>
				<li>
					<div class="service-circle square-image">Enhanced semantic annotation workflow</div>
					<div class="name"></div>
					<div class="position">Natural language-based enhancements of the Annotator with scoring methods context detection (e.g., negation, temporality).</div>
				</li>
				<li>
					<div class="service-circle square-image">Extended ontology metadata model</div>
					<div class="name"></div>
					<div class="position">Extended and harmonized metadata model based on MOD1.4 to better support descriptions of ontologies and their relations.</div>
				</li>
				<li>
					<div class="service-circle square-image">Semantic artefact FAIRness assessment</div>
					<div class="name"></div>
					<div class="position">Get FAIR score for each semantic artefact from 61 questions implemented from the Ontology FAIRness Evaluation (O’FAIRe) methodology.</div>
				</li>
				<li>
					<div class="service-circle square-image">Extended SKOS support</div>
					<div class="name"></div>
					<div class="position">Full support of SKOS and innovative browsing approaches to discover and navigate concepts in SKOS thesauri that make extensive use of scheme and collections.</div>
				</li>
				<li>
					<div class="service-circle square-image">Assigning DOIs</div>
					<div class="name"></div>
					<div class="position">Request a Digital Object Identifier (DOI) for resources hosted in the portal using Datacite services.</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex" style="flex-wrap: wrap; overflow-wrap: anywhere">
			<div class="text editable" style=" display: flex; justify-content: center; flex-direction: column; align-items: center;">
				<h2>What Users Say</h2>
			</div>
			<div class="my-slider">
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on BioPortal for easy access to SNOMED and a number of other terminologies, particularly for when I just want to check the existence of specific terms. I love having a one-stop shop to find just about any ontology I might need.</p>
						<p class="editable author">Jessie Tenenbaum - Duke University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">When teaching on the role and importance of structured and standardized data, BioPortal is an indispensible reference. It demonstrates the sheer size and number of ontologies, and the cross-ontology search helps to appreciate gaps, overlaps and target areas of and between ontologies. The annotator, mappings, and SPARQL endpoint help to provide insight in the potentials and challenges of building and using the linked open data cloud in the domain of healthcare and life sciences.</p>
						<p class="editable author">Ronald Cornet - Amsterdam UMC</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I’m using BioPortal to browse and search different ontologies and vocabularies such as NDF-RT and SNOMED CT. I find codes for terms and restrictions on terms and I then copy them into clinical guideline representations so that I can use standard terminologies.</p>
						<p class="editable author">Mor Peleg - University of Haifa</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on OntoPortal too....</p>
						<p class="editable author">John Smith - Stanford University</p>
					</blockquote>
				</div>
			</div>
			<script >
				var slider = tns({
					container: '.my-slider',
					items: 1, // Set the number of items to show at once
					slideBy: 'page', // Slide by page instead of by item
					nav: false, // Hide the default pagination
					autoplay: true,
					speed: 750,
					autoplayButtonOutput: false,
					controlsPosition: 'bottom'
				});
			</script>
		</div>

	</section>

	<section>
		<div class="container flex" style="flex-direction: column; justify-content: center"  >
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center; margin-top: 10px">
				<h2>Be part of a <strong>community</strong></h2>
			</div>

			<ul class="staff">
				{% for portal in site.alliance_members %}
				<li>
					<div style="height: 100px;background-color:{{portal.color}}" class="square-image"><img src="{% include relative-src.html src=portal.logo %}" alt="{{ portal.name }}" style="object-fit: contain;width: 200px; height: 100px"/></div>
					<div class="name"><a target="_blank" href="{{ portal.link }}" style="color: black">{{ portal.name }}</a></div>
					<div class="position">{{ portal.description }}</div>
				</li>
				{% endfor %}
			</ul>

			<div class="button"><a href="{{ site.baseurl }}/about">Get more information and join the Alliance</a></div>
		</div>

	</section>

	<section style="display: flex; justify-content: center">
        <iframe title="OntoPortal tweets" style="border:none; margin: 10px; width: 60%; height: 80vh" data-tweet-url="https://twitter.com/ontoportal" src="data:text/html;charset=utf-8,%3Ca%20class%3D%22twitter-timeline%22%20href%3D%22https%3A//twitter.com/ontoportal%3Fref_src%3Dtwsrc%255Etfw%22%3ETweets%20by%20ontoportal%3C/a%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A">
        </iframe>
	</section>

	<section  class="bottom-cta">
		<div class="container flex sponsorsFooter" style="flex-direction: column; justify-content: center"  >
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center; margin-top: 10px">
				<h2><span class="sponsorsFooter-Title">Our</span> <strong>sponsors</strong></h2>
			</div>
			<ul class="flex">
				{% for sponsor in site.sponsors %}
					<li data-group="{{ sponsor.portals }}">
                       <a href="{{sponsor.link}}" target="_blank"><img src="{{ sponsor.logo }}" alt="{{sponsor.acronym}} image"></a>
					</li>
				{% endfor %}
			</ul>
			<script>
				const ul = document.querySelector(".sponsorsFooter ul");
				const title = document.querySelector(".sponsorsFooter .sponsorsFooter-Title");

				ul.querySelectorAll('li').forEach(li => {
					const portals =  li.getAttribute("data-group").toString().trim().split(',')
					li.addEventListener("mouseenter", () => {
						showPortals(ul,portals)
						title.innerHTML = getTitle(portals)
					})

					li.addEventListener("mouseleave", () => {
						title.innerHTML = "Our";
						resetPortals(ul)
					})
				})

				function getTitle(portals){
					const length  = portals.length
					if (length === 1) {
						return portals[0]
					} else if (length === 2) {
						return portals.join(' and ');
					} else {
						const last = portals.slice(-1)
						const rest = portals.slice(0, - 1)
						return rest.join(', ') + ', and ' + last
					}
				}
				function showPortals(container,portals){
					container.querySelectorAll('li').forEach(li => {
						const currentPortals =  li.getAttribute("data-group").toString().trim().split(',')
						if(portals.every(item => currentPortals.includes(item))){
							li.classList.add("hover")
							container.classList.add("enter")
						}
					})
				}
				function resetPortals(container){
					container.classList.remove("enter")
					container.querySelectorAll('li').forEach(li => {
						li.classList.remove("hover")
					})
				}


			</script>
		</div>
	</section>
</div>
