---
title: Ontoportal
description: Deploy and use your Ontoportal repository
---

<style>
	.tns-controls{
		display: flex;
		justify-content: center;
	}

	.tns-controls [aria-controls] {
		font-size: 15px;
		margin: 0 5px;
		padding: 0 1em;
		height: 2.5em;
		color: white;
		background: #666666;
		border-radius: 25px;
		border: 0;
	}
</style>

<section class="hero">
	<div class="text-container">
		<h1 class="editable">Ontoportal <strong>your semantic artefact repository</strong></h1>
		<p class="subtext editable">Deploy and use your Ontoportal repository</p>
		<div class="cta button alt"><a href="https://ontoportal.github.io/documentation/administration/steps/getting_started">Get Ontoportal</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/ontoportal_home.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Upload and save your <strong>semantic artefacts</strong></h2>
				<p>Ontoportal makes deploying and running  your own semantic repository easier</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_browser.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>Browse the <strong>content</strong> of your semantic resources</h2>
				<p>Ontoportal comes with bunch components for visualizing and browsing yor content</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/content_browse.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2> <strong>Search</strong> for terms</h2>
				<p>All the semantic ressources content hosted in your Ontoportal is indexed and can easily be retrieved</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/repository_search.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center;">
				<h2> And <strong>a lot </strong> more</h2>
			</div>

			<ul class="staff">
				<li>
					<div class="service-circle square-image">Annotator</div>
					<div class="name"></div>
					<div class="position">Annotate your textual biomedical data with ontology terms.</div>
				</li>
				<li>
					<div class="service-circle square-image">Mappings</div>
					<div class="name"></div>
					<div class="position">Explore mappings between ontology terms.</div>
				</li>
				<li>
					<div class="service-circle square-image">Recommender</div>
					<div class="name"></div>
					<div class="position">Get ontology recommendations for annotation based on descriptions of your datasets.</div>
				</li>
				<li>
					<div class="service-circle square-image">Ontology submission</div>
					<div class="name"></div>
					<div class="position">Give the possibility to your community to submit their own resources.</div>
				</li>
				<li>
					<div class="service-circle square-image">Versioning</div>
					<div class="name"></div>
					<div class="position">Save and Archive multiple version of your resources</div>
				</li>
			</ul>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex" style="flex-wrap: wrap; overflow-wrap: anywhere">
			<div class="text editable" style=" display: flex; justify-content: center; flex-direction: column; align-items: center;">
				<h2>What Users Say</h2>
			</div>
			<div class="my-slider">
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I rely on BioPortal for easy access to SNOMED and a number of other terminologies, particularly for when I just want to check the existence of specific terms. I love having a one-stop shop to find just about any ontology I might need.</p>
						<p class="editable author">Jessie Tenenbaum - Duke University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">When teaching on the role and importance of structured and standardized data, BioPortal is an indispensible reference. It demonstrates the sheer size and number of ontologies, and the cross-ontology search helps to appreciate gaps, overlaps and target areas of and between ontologies. The annotator, mappings, and SPARQL endpoint help to provide insight in the potentials and challenges of building and using the linked open data cloud in the domain of healthcare and life sciences.</p>
						<p class="editable author">Ronald Cornet - Amsterdam UMC</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I’m using BioPortal to browse and search different ontologies and vocabularies such as NDF-RT and SNOMED CT. I find codes for terms and restrictions on terms and I then copy them into clinical guideline representations so that I can use standard terminologies.</p>
						<p class="editable author">Mor Peleg - University of Haifa</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">I am an ontology developer and often ontology consumer. The BioPortal web site and ontology repository are my go to place for both sharing ontologies and finding other’s ontologies relevant to my work in computational biology. In addition, I have used the excellent web API to do automated search and retrievals in the BioPortal repository for annotation of a variety of types of documents.</p>
						<p class="editable author">James Sluka - Indiana University</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">The Neuroscience Information Framework and dkNet awards greatly benefitted from the good work at BioPortal. When building our ontologies, NIF always had the philosophy of reuse, a FAIR before the term was coined. However, reuse presupposes that the things you want to reuse are indeed findable, accessible and interoperable. BioPortal makes all submitted terminologies, including our own, FAIR and thus has helped to shape the ontology community. Thank you!</p>
						<p class="editable author">Anita Bandrowski - SciCrunch</p>
					</blockquote>
				</div>
				<div class="testimonial-block">
					<blockquote>
						<p class="editable">The Semantic Systems Biology group at NTNU has been a regular user of BioPortal for many years. BioPortal has been very helpful as a resource for identifying and downloading ontologies most suitable for our projects.  In a complementary way, we have also used BioPortal for disseminating application ontologies developed in our group: the Cell Cycle Ontology (CCO), the Gene Expression Ontology (GeXO), the Regulation of Gene Expression Ontology (ReXO) and the Regulation of Transcription Ontology (ReTO). We are honestly grateful to all the members of the BioPortal team for the continuous support they provide to the research community.</p>
						<p class="editable author">Vladimir Mironov - Norwegian University of Science and Technology</p>
					</blockquote>
				</div>
			</div>
			<script >
				var slider = tns({
					container: '.my-slider',
					items: 1, // Set the number of items to show at once
					slideBy: 'page', // Slide by page instead of by item
					nav: false, // Hide the default pagination
					autoplay: true,
					speed: 750,
					autoplayButtonOutput: false,
					controlsPosition: 'bottom'
				});
			</script>
		</div>

	</section>

	<section>
		<div class="container flex" style="flex-direction: column; justify-content: center"  >
			<div class="text editable flex" style="justify-content: center; flex-direction: column; align-items: center; margin-top: 10px">
				<h2>Be part of a <strong>community</strong></h2>
			</div>

			<ul class="staff">
				{% for portal in site.alliance_members %}
				<li>
					<div style="height: 100px" class="square-image"><img src="{% include relative-src.html src=portal.logo %}" alt="{{ portal.name }}" style="object-fit: fill; width: 200px;; height: 100px"/></div>
					<div class="name"><a target="_blank" href="{{ portal.link }}" style="color: black">{{ portal.name }}</a></div>
					<div class="position">{{ portal.description }}</div>
				</li>
				{% endfor %}
			</ul>

			<div class="button"><a href="/about">Get more information and join the alliance</a></div>
		</div>

	</section>

	<section style="display: flex; justify-content: center">
        <iframe title="Ontoportal tweets" style="border:none; margin: 10px; width: 80%; height: 100vh" data-tweet-url="https://twitter.com/ontoportal" src="data:text/html;charset=utf-8,%3Ca%20class%3D%22twitter-timeline%22%20href%3D%22https%3A//twitter.com/ontoportal%3Fref_src%3Dtwsrc%255Etfw%22%3ETweets%20by%20ontoportal%3C/a%3E%0A%3Cscript%20async%20src%3D%22https%3A//platform.twitter.com/widgets.js%22%20charset%3D%22utf-8%22%3E%3C/script%3E%0A">
        </iframe>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Deploy</strong> and <strong>use</strong> your own Ontoportal today</h2>
		<div class="button alt"><a href="https://ontoportal.github.io/documentation/administration/steps/getting_started">Get Started Free</a></div>
	</section>
</div>
